*.class
*.log
*.iml
*.ipr
*.iws
.idea
out
.cache/
.history/
.lib/
dist/*
target/
bin/
libexec/
lib_managed/
src_managed/
*/boot/
*/plugins/project/
logs/
*/*-shim.sbt
*/project/
*/target/
target/
.scala_dependencies
.worksheet
